
* {
    background-color: rgb(11, 27, 29);
    color: rgb(236, 254, 255);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
} 

header {
    width: 100%;
    height: 170px;
    background-color: rgb(236, 254, 255);
    margin-top: 20px;
    text-align: center;
}
header h1 {
    position: relative;
    width: 80%;
    color: rgb(236, 254, 255);
    top: 50px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10%;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 36px;
    text-indent: 50px;
}

section {
    width: 80%;
    border: 1px solid gray;
    margin: 0 auto;

}

h2 {
    text-indent: 50px;
    background-color: rgb(236, 254, 255);
    color: black;
    margin-top: 50px;
    font-size: 26px;
}

.TextStyles h2 {
    text-indent: 50px;
    background-color: rgb(11, 27, 29);
    color: rgb(236, 254, 255);
    margin-top: 50px;
    font-size: 26px;
}

/* Colours */

.colorblocks {
    align-items: center;
    width: 95%;
    margin: 0 auto;
}

.colorblocks p {
    height: 40px;
}

.colorblocks li {
    box-sizing: border-box;
    vertical-align: top;
    width:30%;
    height: 160px;
    border: 2px solid white;
    text-align: center;
    line-height: 1.8;
    font-size: 18px;
    display: inline-block;
    margin: 15px 15px 15px 0px;
    padding: 10px;
}


.color1, .color1 p {
    background-color: rgb(77, 229, 196);
    color: black; 
}


.color2, .color2 p {
    background-color: rgb(169, 255, 232);
    color: black; 
}

.color3, .color3 p {
    background-color: rgb(178, 228, 241);
    color: black; 
}

.color4, .color4 p {
    background-color: rgb(11, 27, 29);
    color: white; 
}

.color5, .color5 p {
    background-color: rgb(236, 254, 255);
    color: black; 
}

.color6, .color6 p {
    background-color: rgb(82, 82, 82);
    color: white; 
}

/* Fonts */

.font div {
    box-sizing: border-box;
    width: 40%;
    min-height: 370px;
    display: inline-block;
    border: 2px solid rgb(178, 228, 241);
    vertical-align: top;
    margin: 50px 0px;
    margin-left: 5%;
    overflow: scroll;
}

.font h3 {
    font-size: 20px;
    text-decoration: underline;
    padding: 40px 40px 10px;
}

.font p {
    font-size: 18px;
    padding: 0px 40px 20px;
}

#poppins {
font-family: 'Poppins', sans-serif;
font-weight: 300;
}

#poppinsbold {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    }

#poppinsitalic {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: italic;
    } 

#IBM {
    font-family: 'IBM Plex Serif', serif;
    font-weight: 300;
    }

#IBMbold {
    font-family: 'IBM Plex Serif', serif;
    font-weight: 700;
    }

#IBMitalic {
    font-family: 'IBM Plex Serif', serif;
    font-weight: 400;
    font-style: italic;
    } 

.poppins, .poppins p, .poppins h3 {
    background-color: rgb(169, 255, 232);
    color:rgb(11, 27, 29);
}

.IBM, .IBM p, .IBM h3 {
    background-color: rgb(169, 255, 232);
    color:rgb(11, 27, 29);    
}

.TextStyles li, .TextStyles p {
    font-family: 'IBM Plex Serif', serif;
    font-weight: 300;
    font-size: 16px;
    text-indent: 50px;
}

.TextStyles p {
    margin-top: 50px;
}
